background           = {{BLACK}}
foreground           = {{BASE}}
cursor-color         = {{BASE}}
selection-background = {{DIM}}
selection-foreground = {{BASE}}
palette = 0=#{{P0}}
palette = 1=#{{P1}}
palette = 2=#{{P2}}
palette = 3=#{{P3}}
palette = 4=#{{P4}}
palette = 5=#{{P5}}
palette = 6=#{{P6}}
palette = 7=#{{P7}}
palette = 8=#{{P8}}
palette = 9=#{{P9}}
palette = 10=#{{P10}}
palette = 11=#{{P11}}
palette = 12=#{{P12}}
palette = 13=#{{P13}}
palette = 14=#{{P14}}
palette = 15=#{{P15}}