configuration {
    modi: "drun,run";
    show-icons: true;
    font: "JetBrains Mono 11";
    drun-display-format: "{name}";
    kb-secondary-copy: "";
    kb-cancel: "Escape,Control+c,Control+bracketleft";
}

@theme "~/.config/rofi/theme.rasi"
