$amber = rgba({{BASE}}ff)
$amber_bright = rgba({{BRIGHT}}ff)
$amber_dim = rgba({{DIM}}ff)
$amber_bg = rgba({{BG}}ff)
$black = rgba({{BLACK}}ff)
$surface = rgba({{SURFACE}}ff)
$red = rgba({{RED}}ff)
$green = rgba({{GREEN}}ff)
$yellow = rgba({{YELLOW}}ff)
$blue = rgba({{BLUE}}ff)